<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} - {{ .Site.Title }}{{ end }}</title>
    <meta name="description" content="{{ if .IsHome }}{{ .Site.Params.description }}{{ else }}{{ .Summary }}{{ end }}">
    {{ $style := resources.Get "css/main.css" | postCSS | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}" integrity="{{ $style.Data.Integrity }}">
    {{ template "_internal/opengraph.html" . }}
    {{ template "_internal/twitter_cards.html" . }}
    {{ $js := resources.Get "js/main.js" }}
    {{ if $js }}
      {{ $js = $js | js.Build "main.js" | minify | fingerprint }}
      <script src="{{ $js.RelPermalink }}" integrity="{{ $js.Data.Integrity }}" defer></script>
    {{ end }}

    {{ if .Params.mermaid }}
    <script src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"></script>
    <script>
      mermaid.initialize({ startOnLoad: true });
    </script>
    {{ end }}
</head>
<body class="bg-gray-950 text-gray-200 min-h-screen flex flex-col">
    {{ partial "header.html" . }}
    <main class="flex-grow">
        {{ block "main" . }}{{ end }}
    </main>
    {{ partial "footer.html" . }}
    <button id="scroll-to-top" class="fixed bottom-4 right-4 bg-primary text-white p-2 rounded-full shadow-lg hidden">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 10l7-7m0 0l7 7m-7-7v18" />
        </svg>
    </button>
</body>
</html>